html
html
   head
      title Form Tester
   body
      form(action = "/addMovie", method = "POST")
         div
            label(for = "say") Movie Name :
            input(name = "say" value = "Sherlock Holmes ")
         br
         div
            label(for = "to") Movie Year :
            input(name = "to" value = "2010 ")
         br
         div
            label(for = "to2") Movie Director  :
            input(name = "to2" value = "Christopher Nolan ")
         br
         div
            label(for = "to3") Movie Genre :
            input(name = "to3" value = "SuperHero Landing :)  ")
         br
         button(type = "submit") Send to database
