html
html
   head
      title Person
   body
      form(action = "/viewMovie", method = "POST")
         div
            label(for = "name") Movie Name: 
            input(name = "name")
         br
         button(type = "submit") Search The Movie 